.Text {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.cold h3 {
  font-size: 25;
  color: rgb(155, 13, 190);
}

.cold p {
  color: rgb(4, 7, 41);
  font-size: 20px;
}

.cold {
  margin: 10px;
  padding: 20px;
  flex-wrap: wrap;
  height: 200px;
  width: 200px;
  align-self: flex-start;
  background: url("../assets/Yakutsk.png");
  background-repeat: no-repeat;
}

.Dry p {
  color: rgb(246, 232, 253);
  font-size: 20px;
}

.Dry h3 {
  color: rgb(228, 228, 20);
  font-size: 20px;
}

.Dry {
  margin: 10px;
  padding: 20px;
  flex-wrap: wrap;
  height: 200px;
  width: 200px;
  align-self: flex-start;
  background: url("../assets/GreatFalls.png");
  background-repeat: no-repeat;
}

.Rainy p {
  color: blue;
  font-size: 20px;
}

.Rainy h3 {
  color: rgb(26, 25, 1);
  font-size: 20px;
}

.Rainy {
  margin: 10px;
  padding: 20px;
  flex-wrap: wrap;
  height: 200px;
  width: 200px;
  align-self: flex-start;
  background: url("../assets/Mecca.png");
  background-repeat: no-repeat;
}

.Sunny p {
  color: rgb(243, 242, 233);
  font-size: 20px;
}

.Sunny h3 {
  color: yellow;
  font-size: 20px;
}

.Sunny {
  margin: 10px;
  padding: 20px;
  flex-wrap: wrap;
  height: 200px;
  width: 200px;
  align-self: flex-start;
  background: url("../assets/Chile.png");
  background-repeat: no-repeat;
}

.Cloudy {
  margin: 10px;
  padding: 20px;
  flex-wrap: wrap;
  height: 200px;
  width: 200px;
  align-self: flex-start;
  background: url("../assets/Torshavn.png");
  background-repeat: no-repeat;
}

.Cloudy p {
  color: white;
  font-size: 20px;
}

.Cloudy h3 {
  color: rgb(223, 219, 28);
  font-size: 20px;
}