table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 90vw;
}

td {
  text-align: center;
}

img {
  width: 50px;
  height: 50px;
}

.center table{
  margin-left: auto;
  margin-right: auto;
}