<!DOCTYPE HTML>
<!-- xmlns:th="http://www.thymeleaf.org" is used to stop our IDE from throwing errors when we
 utilize the th namespace. This is how we declare that namespace -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style>
        p {
        color: red;
        }
    </style>
</head>
<body>
<!--The text below will be replaced by Thymeleaf-->
<p th:text="'Hello, ' + ${name} + '!'" />
<p th:text="'Hello, ' + ${address} + '!'" />
<p th:text="'I am ' + ${age} + ' years old.'" />
</body>
</html>